RewriteEngine On

# Handle Angular and React History mode
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

# Handle PHP requests
RewriteRule ^(.*)$ index.php [QSA,L]